




h1 {
  color: #ee3643;
  font-size: 16px;
}
.header-top-line {
  background-color: #293449;
}
.header-bottom-line {
  background-color: #32425c;
}
.button {
  background-color: #ee3643;
  color: white;
}
.footer-bottom-line {
  background-color: #293449;
}
